affinegap==1.10
alabaster==0.7.10
appdirs==1.4.3
apturl===0.5.2ubuntu4
atari-py==0.1.1
attrs==17.2.0
audioread==2.1.5
autobahn==17.5.1
Automat==0.6.0
Babel==2.5.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
bleach==1.5.0
bob.extension==2.4.5
boto==2.46.1
Box2D-kengz==2.3.3
box2d-py==2.3.1
Brlapi==0.6.1
BTrees==4.4.1
bz2file==0.98
canonicalize==1.3
categorical-distance==1.9
certifi==2017.11.5
cffi==1.11.0
chardet==3.0.4
checkbox-ng==0.3
checkbox-support==0.2
click==6.7
colorama==0.3.9
colour==0.1.4
command-not-found==0.3
constantly==15.1.0
cycler==0.10.0
Cython==0.27.3
decorator==4.1.2
dedupe==1.6.13
dedupe-hcluster==0.3.2
defer==1.0.6
devscripts===2.14.1ubuntu0.1
dill==0.2.7.1
docker-py==1.10.3
docker-pycreds==0.2.1
docopt==0.6.2
docutils==0.14
dominate==2.3.1
DoubleMetaphone==0.1
dyNET==2.0.1.post5
easydict==1.6
EasyProcess==0.2.3
enum34==1.1.6
ez-setup==0.9
fastcluster==1.1.23
fastzbarlight==0.0.14
feedparser==5.2.1
friends==0.1
future==0.16.0
gensim==2.1.0
gitsome==0.7.2
glfw==1.4.0
go-vncdriver==0.4.19
graphviz==0.8.1
gym==0.9.2
h5py==2.7.1
haversine==0.4.5
hickle==2.1.0
highered==0.2.1
html5lib==0.9999999
httplib2==0.8
idna==2.6
imageio==2.2.0
imagesize==0.7.1
incremental==17.5.0
ipykernel==4.6.1
ipython==4.2.0
ipython-genutils==0.2.0
jedi==0.10.2
jieba==0.38
Jinja2==2.11.3
joblib==0.11
jupyter-client==5.0.1
jupyter-core==4.3.0
Keras==2.0.7
language-selector==0.1
Lasagne==0.1
laspy==1.5.0
Levenshtein-search==1.4.4
lmdb==0.93
louis==2.5.3
lxml==3.3.3
Magic-file-extensions==0.2
Mako==0.9.1
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
minpy==0.3.4
mpmath==0.19
msgpack-numpy==0.4.2
msgpack-python==0.4.8
mujoco-py==0.5.7
mxnet==0.12.0
networkx==2.0
nltk==3.2.4
numpy==1.13.1
numpydoc==0.7.0
oauthlib==0.6.1
olefile==0.44
onboard==1.0.1
oneconf==0.3.7.14.4.1
opencv-python==3.2.0.6
pachi-py==0.0.21
packaging==16.8
pandas==0.20.3
pbr==3.1.1
persistent==4.2.4.2
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
pinyin==0.4.0
piston-mini-client==0.7.5
plainbox==0.5.3
ply==3.10
prompt-toolkit==1.0.14
protobuf==3.4.0
ptyprocess==0.5.1
pybullet==1.2.2
pycocotools==2.0
pycparser==2.18
pycrypto==2.6.1
pycurl==7.19.3
pydensecrf==1.0rc2
pyglet==1.2.4
Pygments==2.2.0
pygobject==3.12.0
pyhacrf-datamade==0.2.1
PyLBFGS==0.2.0.3
PyOpenGL==3.1.0
pyparsing==2.2.0
python-apt===0.9.3.5ubuntu2
python-dateutil==2.6.0
python-debian===0.1.21-nmu2ubuntu2
python-speech-features==0.6
pytz==2017.3
PyVirtualDisplay==0.2.1
PyWavelets==0.5.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
requests==2.18.4
rlr==2.4.3
scikit-image==0.13.1
scikit-learn==0.18.1
scipy==0.19.1
screen-resolution-extra==0.0.0
semantic-version==2.6.0
shadowsocks==2.8.2
Shapely==1.5.17.post1
simplecosine==1.1
simplegeneric==0.8.1
simplejson==3.10.0
six==1.11.0
sklearn==0.0
smart-open==1.5.3
snowballstemmer==1.2.1
software-center-aptd-plugins==0.0.0
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
stevedore==1.23.0
sympy==1.1.1
tabulate==0.7.7
tensorboard==1.0.0a6
tensorflow-gpu==1.1.0
tensorflow-tensorboard==0.1.8
tensorpack==0.8.0
termcolor==1.1.0
tflearn==0.3.2
Theano==0.9.0
tornado==4.5.1
tqdm==4.14.0
traitlets==4.3.2
Twisted==16.0.0
txaio==2.7.1
typing==3.6.2
ubuntu-drivers-common==0.0.0
ufw===0.34-rc-0ubuntu2
ujson==1.35
unattended-upgrades==0.1
unity-scope-audacious==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-clementine==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-gmusicbrowser==0.1
unity-scope-gourmet==0.1
unity-scope-guayadeque==0.1
unity-scope-manpages==0.1
unity-scope-musique==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.22
usb-creator==0.2.23
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
visdom==0.1.5
wcwidth==0.1.7
web.py==0.40.dev0
websocket-client==0.40.0
Werkzeug==0.12.2
wikipedia==1.4.0
word2vec==0.9.1
xdiagnose===3.6.3build2
xgboost==0.6a2
xkit==0.0.0
xlrd==1.0.0
zhon==1.1.5
zope.index==4.3.0
zope.interface==4.4.1
